<div class="row">
  <div class="col-xs-1">
    <%= image_tag post.user.avatar.url, class: "img-responsive img-circle" %>
  </div>
  <div class="col-xs-8">
     <p><%= post.title %>
       <br>
       <% liked = Like.find_by( post: post, user: current_user ) != nil %>
       <% btn_color = liked ? "warning" : "default" %>
       <br>
       <%= link_to "Like this post", post_likes_path( post ), method: :post, class: "btn btn-warning", disabled: !user_signed_in? %>
       <%= post.likes.count %>
       <br>
      
       <em><%= link_to post.user.handle, user_posts_path( post.user ) %></em>
     </p>
  </div>
</div>
